.Menu {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
  .Menu__container {
    width: 95%;
    display: flex;
    align-items: center;
    .Menu__container-logo {
      width: 50%;
      img {
        width: 17rem;
      }
    }
    .Menu__container-content {
      width: 50%;
      ul {
        color: #fff;
        font-family: "Montserrat", sans-serif;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        li {
          cursor: pointer;
          font-size: 0.9rem;
          display: flex;
          align-items: center;
          // &:hover{
          //   border-top: 1px solid red;
          // }
          &:last-child {
            color: red;
          }
        }
      }
    }
  }
}

.sticky {
  position: fixed;
  background: #362f2f;
}