.Menu {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 2;
  .Menu__container {
    width: 95%;
    max-width: 1360px;
    display: flex;
    align-items: center;
    .Menu__container__logo {
      width: 30%;
      .imagen {
        // background-image: url("../../assets/img/menu/magmalabs-logo.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 217px;
        height: 60px;
      }
      .conImagen {
        background-image: url("../../assets/img/menu/magmalabs-logo.png");
      }
    }
    .Menu__container__Mobile {
      display: none;
      width: 70%;
      justify-content: flex-end;
      color: #fff;
      i {
        cursor: pointer;
        font-size: 1.2rem;
      }
    }
    .Menu__container__Pages {
      width: 70%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      nav {
        ul {
          width: 100%;
          display: flex;
          list-style: none;
          li {
            margin: 0 0.8rem;
            color: #fff;
            font-family: "Montserrat", sans-serif;
            cursor: pointer;
            &:last-child {
              color: #f84848;
            }
            .dropdown {
              position: relative;
              p {
                display: flex;
                i {
                  margin-left: 0.2rem;
                }
              }
              .dropdown-container {
                position: absolute;
                z-index: 2;
                left: -35px;
                top: 25px;
                .dropdown-content {
                  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                  position: relative;
                  min-width: 220px;
                  background-color: #f6f6f6;
                  color: #000;
                  border-radius: 2px;
                  p {
                    padding: 12px 16px;
                    font-size: 16px;
                    border-bottom: 0.1rem solid #e0dede;
                    &:hover {
                      background: #d0d0d0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    .Menu__container {
      .Menu__container__logo {
        img {
          width: 12rem;
          margin: 0 1rem;
        }
      }
      .Menu__container__Mobile {
        display: flex;
      }
      .Menu__container__Pages {
        display: none;
      }
    }
  }
  // @media only screen and (max-width: 770px) {
  //   .Menu__container {
  //     .Menu__container__logo {
  //     }
  //     .Menu__container__Mobile {
  //       // margin: 1rem;
  //     }
  //   }
  // }
}

.sticky {
  position: fixed;
  background: #362f2f;
}
